
@font-face {
	font-family: 'Iosevka Web Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaWeb-Regular.woff2') format('woff2'), url('TTF/IosevkaWeb-Regular.ttf') format('truetype');
}
